@using Database.Enums
@using Services
@{
    ViewData["Title"] = "Добавить товар";
}
<div align="center">
    <form method="post" asp-controller="Catalog" asp-action="AddItem" enctype="multipart/form-data">
        <h4>Артикул:</h4>
        <input type="text" name="VendorCode" /><br />
        <h4>Название:</h4>
        <input type="text" name="Name" /><br />
        <h4>Цена:</h4>
        <input type="number" name="Price" /><br />
        <h4>Описание (необязательно):</h4><br/>
        <textarea name="Description"></textarea><br />
        <h4>Пол:</h4>
        <table>
            <tr>
                @foreach (var gender in Enum.GetValues(typeof(Gender)))
                {
                    <td><input type="radio" name="Gender" value="@gender.GetHashCode()" /></td>
                    <td> @(((Gender)gender).GetDescription())</td>
                }
            </tr>
        </table>
        <h4>Категория:</h4>
        <table>
            <tr>
                @foreach (var category in Enum.GetValues(typeof(Category)))
                {
                    <td><input type="radio" name="Category" value="@category.GetHashCode()" /></td>
                    <td> @(((Category)category).GetDescription())</td>
                }
            </tr>
        </table>
        <h4>Брэнд:</h4>
        <table>
            <tr>
                @foreach (var brand in Enum.GetValues(typeof(Brand)))
                {
                    <td><input type="radio" name="Brand" value="@brand.GetHashCode()" /></td>
                    <td> @(((Brand)brand).GetDescription())</td>
                }
            </tr>
        </table>
        <h4>Цвет:</h4>
        <table>
            <tr>
                @foreach (var color in Enum.GetValues(typeof(Color)))
                {
                    <td><input type="radio" name="Color" value="@color.GetHashCode()" /> </td>
                    <td>@(((Color)color).GetDescription())</td>
                }
            </tr>
        </table>
        <h4>Размеры и их количество:</h4>
        <table>
            @foreach (var size in Enum.GetValues(typeof(Size)))
            {
                <input type="hidden" name="Sizes[]" value="@size.GetHashCode()"/>
                <tr>
                    <td>@(((Size)size).GetDescription()): </td>
                    <td><input type="number" name="Quantities[]" value="0"/></td>
                </tr>
            }
        </table>
        <h4>Фото:</h4>
        <input type="file" name="file"/>
        <br /><br />
        <input type="submit" value="Добавить" />
    </form>
</div>